@use './../../../sizes.scss';
@import "./../../../flex-styles.scss";

.MostPopularArticles_MainContainer {
  @extend %app_Col-Center-Center;
  height: inherit;
  width: 100vw;
}

.MostPopularArticles_SubContainer {
  width: sizes.$app-width;
}

.MostPopularArticles_FilterContainer {
  @extend %app_Row-Center-Center;

  padding: 2% 5%;
}

.MostPopularArticles_Filter {
  max-width: 300px;
}

.MostPopularArticles_News {
  @extend %app_Row-Center-Center;

  height: inherit;
  flex-wrap: wrap;
}

.MostPopularArticles_New {
  @extend %app_Col-Center-Center;

  width: 25%;
  padding: 1%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .MostPopularArticles_SubContainer {
    width: 100%;
  }

  .MostPopularArticles_FilterContainer {
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
  }

  .MostPopularArticles_Filter {
    margin-top: 3%;
    width: fit-content;
  }

  .MostPopularArticles_News {
    padding: 5%;
  }

  .MostPopularArticles_New {
    width: 100%;
  }
}
