@use './../../../sizes.scss';
@use './../../../colors.scss';
@import './../../../flex-styles.scss';

.AppLayout_MainContainer {
  @extend %app_Col-Start-End;
  overflow-x: hidden;

  height: 100%;
}

.AppLayout_HeaderContainer {
  @extend %app_Col-Start-Center;

  position: fixed;
  top: 0;
  bottom: auto;

  min-height: sizes.$app-topnav-desktop-height;
  height: sizes.$app-topnav-desktop-height;

  z-index: 9999;
}

.AppLayout_ContentContainer {
  @extend %app_Row-Start-Center;

  margin-top: sizes.$app-topnav-desktop-height;
}

.AppLayout_ContentSidenav {
  height: 100%;
  width: sizes.$app-sidenav-desktop-width;
  min-width: sizes.$app-sidenav-desktop-width;
  background-color: colors.$app-sidenav-background-color;
}

.AppLayout_nose {
  position: fixed;
  top: 0;
  left: 0;
}

.AppLayout_Content {
  @extend %app_Row-Start-Center;

  min-width: 100%;
  width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .AppLayout_MainContainer {
    // overflow-x: hidden;
  }
  .AppLayout_HeaderContainer {
    order: 2;

    position: fixed;
    top: auto;
    bottom: 0;

    min-height: sizes.$app-topnav-mobile-height;
    height: sizes.$app-topnav-mobile-height;

  }
  .AppLayout_ContentContainer {
    order: 1;
    margin-top: 0;
  }

  .AppLayout_Content {
    place-content: center;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
