@use './../../../sizes.scss';
@use './../../../colors.scss';
@import './../../../flex-styles.scss';

.sidenav_MainContainer {
  @extend %app_Row-Start-Start;
  height: 100%;
}

.sidenav_NavContainer {
  @extend %app_Col-Between-Center;
  position: sticky;
  height: calc(100vh - #{sizes.$app-topnav-desktop-height});
  top: sizes.$app-topnav-desktop-height;
  left: 0;

  padding: 1% 5%;
}

.sidenav_ContentContainer {
  @extend %app_Row-Start-Center;

  height: 100%;
}

.sidenav_ProfileSection {
  height: 80px;
  border-bottom: 1px solid;
}

.sidenav_Section {
  height: 50px;
  cursor: pointer;
  &:hover {
    background-color: colors.$app-sidenav-section-hover-color;
  }
}

.sidenav_FooterSection {
  border-top: 1px solid;

  #exitSection {
    color: red !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .sidenav_NavContainer {
    top: 0;
    height: calc(100vh - #{sizes.$app-topnav-mobile-height});

  }
}
