<div class="sidenav_MainContainer">
  <div class="sidenav_NavContainer">
    <div class="sidenav_ProfileSection">
      <app-profile-section></app-profile-section>
    </div>
    <div class="sidenav_Section">
      <app-section
        [sectionName] = "'Most Popular Articles'"
      >
      <i class="bi bi-bar-chart-line-fill"></i>
    </app-section>
    </div>
    <div class="sidenav_Section">
      <app-section
        [sectionName] = "'to-do'"
      >
        <i class="bi bi-clock-fill"></i>
      </app-section>
    </div>
    <div class="sidenav_FooterSection">
      <app-section
        [sectionName] = "'Contact'"
      >
        <i class="bi bi-chat-left-dots-fill"></i>
      </app-section>
    </div>
  </div>
</div>