@use './../../../sizes.scss';
@import './../../../flex-styles.scss';

.sidenav_MainContainer {
  @extend %app_Row-Start-Center;

  height: 100%;
}

.sidenav_NavContainer {
  position: absolute;
  top: sizes.$app-topnav-desktop-height;
  left: 0;

  padding: 1%;
  background-color: red;
}

.sidenav_ContentContainer {
  @extend %app_Row-Start-Center;

  height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .sidenav_NavContainer {
    top: 0;
    height: calc(100% - #{sizes.$app-topnav-mobile-height});
  }
}
