<div class="NewsCard_MainContainer">
    <div class="NewsCard_ImageContainer" [appSkeleton]="!news">
        <img *ngIf="news && hasImage()" class="NewsCard_Image" [src]="getImage()">
        <img *ngIf="news && !hasImage()" class="NewsCard_Image" src="../../../assets/images/NoImage.png">
    </div>
    <div class="NewsCard_CategoryContainer">
        <div class="NewsCard_CategoryByLine" [appSkeleton]="!news">{{news?.byline}}</div>
        <div class="NewsCard_CategorySection" [appSkeleton]="!news">{{news?.section}}</div>
    </div>
    <div class="NewsCard_TitleContainer">
        <div *ngIf="news; else titleSkeleton">
            <p>
                {{news?.title}}
            </p>  
        </div>
    </div>

    <div class="NewsCard_TitleContainer">
        <div *ngIf="news; else textSkeleton">
            <p>
                {{news?.abstract}}
            </p>  
        </div>
    </div>
</div>

<ng-template #titleSkeleton>
    <div class="NewsCard_TextSkeletonContainer">
        <div class="NewsCard_TextSkeleton" style="width: 15%;" [appSkeleton]="!news" ></div>
        <div class="NewsCard_TextSkeleton" style="width: 30%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 30%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 50%;" [appSkeleton]="!news"></div>
    </div>
</ng-template>

<ng-template #textSkeleton>
    <div class="NewsCard_TextSkeletonContainer">
        <div class="NewsCard_TextSkeleton" style="width: 15%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 50%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 25%;" [appSkeleton]="!news"></div>

        <div class="NewsCard_TextSkeleton" style="width: 60%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 30%;" [appSkeleton]="!news"></div>

        <div class="NewsCard_TextSkeleton" style="width: 45%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 15%;" [appSkeleton]="!news"></div>
        <div class="NewsCard_TextSkeleton" style="width: 30%;" [appSkeleton]="!news"></div>

        <div class="NewsCard_TextSkeleton" style="width: 30%;" [appSkeleton]="!news"></div>
    </div>
</ng-template>