<div class="NewsCard_MainContainer" [appSkeleton]="!news">
    <div class="NewsCard_ImageContainer skeletonElement">
        <img *ngIf="news && hasImage()" class="NewsCard_Image" [src]="getImage()">
        <img *ngIf="news && !hasImage()" class="NewsCard_Image" src="../../../assets/images/NoImage.png">
    </div>
    <div class="NewsCard_CategoryContainer">
        <div #skeleton class="NewsCard_CategoryByLine skeletonElement">{{news?.byline}}</div>
        <div #skeleton class="NewsCard_CategorySection skeletonElement" >{{news?.section}}</div>
    </div>
    <div class="NewsCard_TitleContainer">
        <div *ngIf="news; else titleSkeleton">
            <p>
                {{news?.title}}
            </p>  
        </div>
    </div>

    <div class="NewsCard_TitleContainer">
        <div *ngIf="news; else textSkeleton">
            <p>
                {{news?.abstract}}
            </p>  
        </div>
    </div>
</div>

<ng-template #titleSkeleton>
    <div class="NewsCard_TextSkeletonContainer" [appSkeleton]="!news">
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 15%;" ></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 30%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 30%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 50%;"></div>
    </div>
</ng-template>

<ng-template #textSkeleton>
    <div class="NewsCard_TextSkeletonContainer" [appSkeleton]="!news">
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 15%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 50%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 25%;"></div>

        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 60%;" ></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 30%;"></div>

        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 45%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 15%;"></div>
        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 30%;"></div>

        <div class="NewsCard_TextSkeleton skeletonElement" style="width: 30%;"></div>
    </div>
</ng-template>