@use './../../../colors.scss';
@import "./../../../flex-styles.scss";

:host {
  width: 100%
}
.NewsCard_MainContainer {
  @extend %app_Col-Start-Center;

  background-color: colors.$app-card-background-color;
  border-radius: 5px;
  padding: 15px;

  width: 300px;
  height: 500px;
  overflow: hidden;
}

.NewsCard_ImageContainer {
  height: 240px;
  min-height:240px;
}

.NewsCard_CategoryContainer {
  @extend %app_Row-Between-Center;
  margin: 2% 2% 5% 2%;
}

.NewsCard_CategoryByLine,
.NewsCard_CategorySection {
  width: fit-content;
}

.NewsCard_CategoryByLine {
  width: 60%;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

.NewsCard_Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.NewsCard_TitleContainer {
  font-weight: 700;
}

.NewsCard_TextContainer {
  margin-top: 5%;
}

/* skeleton feed -----------*/
.NewsCard_CategoryByLine.skeleton {
  min-height: 1em;
  min-width: 130px;
}
.NewsCard_CategorySection.skeleton {
  min-height: 1em;
  min-width: 50px;
}
.NewsCard_TextContainer.skeleton {
  min-height: 1em;
}

/* Skeleton template -----------*/
.NewsCard_TitleSkeletonContainer,
.NewsCard_TextSkeletonContainer {
  @extend %app_Row-Between-Center;
  flex-wrap: wrap;
  margin-top: 3%;
}

.NewsCard_TitleSkeletonContainer {
  margin-top: 3%;
}

.NewsCard_TextSkeletonContainer {
  margin-top: 11%;
}

.NewsCard_TextSkeleton {
  height: 1em;
  margin-bottom: 0.15em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .NewsCard_ImageContainer {
    width: 100%;
  }
  .NewsCard_MainContainer {
    min-width: 100%;
  }
}
