@import "./../../../flex-styles.scss";

.NewsCard_MainContainer {
  @extend %app_Col-Start-Center;

  background-color: #f7f7f7;
  padding: 15px;

  border-width: 5px;
  border-style: ridge;

  width: 100%;
  max-width: 405px;
  min-width: 405px;
  height: 600px;
}

.NewsCard_ImageContainer {
  height: 300px;
}

.NewsCard_CategoryContainer {
  @extend %app_Row-Between-Center;
  margin: 2%;
}

.NewsCard_CategoryByLine,
.NewsCard_CategorySection {
  width: fit-content;
}

.NewsCard_Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.NewsCard_TextContainer {
  margin-top: 5%;
}

/* skeleton feed -----------*/
.NewsCard_CategoryByLine.skeleton {
  min-height: 1em;
  min-width: 130px;
}
.NewsCard_CategorySection.skeleton {
  min-height: 1em;
  min-width: 50px;
}
.NewsCard_TextContainer.skeleton {
  min-height: 1em;
}

/* Skeleton template -----------*/
.NewsCard_TextSkeletonContainer {
  @extend %app_Row-Between-Center;
  flex-wrap: wrap;
  margin-top: 10%;
}

.NewsCard_TextSkeleton {
  height: 1em;
  margin-bottom: 0.15em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .NewsCard_ImageContainer {
    width: 100%;
  }
  .NewsCard_MainContainer {
    height: fit-content;
  }
}
