@use './../../../sizes.scss';
@import './../../../flex-styles.scss';

.Login_MainContainer {
  @extend %app_Col-Start-Center;

  height: 100%;
}
.Login_HeaderContainer {
  @extend %app_Col-Start-Center;

  min-height: sizes.$app-topnav-desktop-height;
  height: sizes.$app-topnav-desktop-height;
}

.Login_ContentContainer {
  @extend %app_Col-Start-Center;

  min-height: calc(100vh - #{sizes.$app-topnav-desktop-height});
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Login_HeaderContainer {
    order: 2;

    min-height: sizes.$app-topnav-mobile-height;
    height: sizes.$app-topnav-mobile-height;
    position: fixed;
    bottom: 0;
  }
  .Login_ContentContainer {
    order: 1;

    min-height: calc(100vh - #{sizes.$app-topnav-mobile-height});

  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
