@use './../../../../sizes.scss';
@import './../../../../flex-styles.scss';

:host {
    height: inherit;
}
.searchInput_MainContainer {
    @extend %app_Row-Start-Center;

    button {
        height: 100% !important;
    }

    .form-group {
        overflow: hidden;
        width: 100%;
        .form-control {
            max-width: 180px;
        }
    }
}

.searchInput_MobileButton {
    display: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .searchInput_MobileButton {
        display: inherit;
        width: 100%;
        margin-top: 5px;
    }
}