@use './../../../colors.scss';
@use './../../../sizes.scss';
@import "./../../../flex-styles.scss";

:host {
  width: 100%;
  height: 100%;
}

.TopNav_Maincontainer {
  @extend %app_Col-Center-Center;

  background-color: colors.$app-content-background-color;
  height: 100%;
}

.TopNav_Subcontainer {
  @extend %app_Row-Between-Center;

  height: inherit;
  width: sizes.$app-width;
  border-color: black;
  border-bottom-width: 2px;
  border-bottom-style: ridge;
}

.TopNav_Centercontainer {
  @extend %app_Col-Center-Center;

  cursor: pointer;
  height: 100%;
  width: 20%;
  text-align: center;

  img {
    height: 100%;
    width: 220px;
  }

  svg {
    display: none
  }
}

.TopNav_Leftcontainer,
.TopNav_Rightcontainer {
  @extend %app_Row-Center-Center;
  height: 100%;
  width: 20%;
}

.TopNav_Rightcontainer {
  place-content: flex-end;
}

.TopNav_Leftcontainer {
  place-content: flex-start;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .TopNav_Maincontainer {
    background-color: colors.$app-topnav-mobile-background;
  }

  .TopNav_Centercontainer {
    img { display: none; }
    svg {
      display: inherit;
      color: colors.$app-card-background-color
    }
  }

  .TopNav_Subcontainer {
    border-bottom-style: none;
    border-top-style: ridge;

    border-bottom-width: 0px;
    border-top-width: 2px;

    width: 95%;
  }
}
