@use './../../../../../colors.scss';
@import './../../../../../flex-styles.scss';
.Section_MainContainer {
    @extend %app_Row-Start-Start;
    height: 100%;

    padding: 1%;
}

.Section_ImageContainer, 
.Section_DataContainer {
    height: 100%;
}

.Section_ImageContainer {
    @extend %app_Col-Center-Center;
    width: 35%;

    svg {
        height: 100%;
        width: 50px;
    }
}

.Section_DataContainer {
    @extend %app_Col-Center-Start;

    padding-left: 10px;
    p {
        margin-bottom: 0px;
    }
}

