%app_Col-Start-Center {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start;
  align-items: center;
}

%app_Col-Center-Center {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

%app_Col-Center-Start {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: flex-start;
}

%app_Row-Start-Start {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start;
  align-items: flex-start;
}

%app_Row-Center-Center {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

%app_Row-Between-Center {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: space-between;
  align-items: center;
}

%app_Row-Start-Center {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: flex-start;
  align-items: center;
}


