@use './colors.scss';

.app_font_xs {
  color: colors.$small-fontColor;
  font-size: 10px;
}

.app_font_s {
    color: colors.$small-fontColor;
    font-size: 12px;
}

.app_font_m {
    color: colors.$normal-fontColor;
    font-size: 14px;
}

.app_font_error {
    color: colors.$error-fontColor;
    font-size: 14px;
    font-weight: 600;
}

.app_font_l {
    color: colors.$big-fontColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
}
