@use './colors.scss';
@import './sizes.scss';
@import './bootstrap-override.scss';
@import './fonts.scss';
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.scss";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: colors.$app-content-background-color;
}

div {
  width: 100%;
}

p {
  margin: 0%;
}

a {
  color: colors.$app-main-color;
}

.skeleton {
  border-radius: 5px;

  background: linear-gradient(to right, #e5e3e3, #999999, #e5e3e3);
  background-size: 200%;
  background-position: left;

  animation: load 2s ease-out 1s infinite normal;
  
  p {
    color: transparent !important;
    user-select: none;
  }
}

@keyframes load{
  0%, 100%{
        background-position: right;
    }
  50%{
      background-position: left;
  }
}
